@import '../../_variables.scss';

.button {
  width: 100%;
  padding: 8px;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: $border-radius;
  color: $text-color;
  background-color: $button-bg-color;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

.button span {
  margin-left: 10px;
}

.transparent-button {
  background: transparent;
  justify-content: left;
  padding: 10px 0 10px 10px;
}