.text-input {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 12px;
    transition: border-color 0.3s;
}

.text-input textarea {
    flex-grow: 1;
    outline: none;
    border: none;
    font-size: 17px;
    margin-right: 8px;
    color: #e1e1e1;
    resize: none;
}

.text-input button {
    cursor: pointer;
    border: none;
    color: #ffffff;
    transform: rotate(45deg);
    background-color: transparent;
    font-size: 22px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
