.button {
  width: 100%;
  height: 34px;
  background-color: #007BFF;
  color: white;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button:hover {
  background-color: #F8F8F8;
  color: black;
}

.button span {
  margin-left: 10px;
}

.transparent-button {
    background: transparent;
    justify-content: left;
    padding: 10px 0 10px 10px;
  }