* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: rgba(255, 255, 255, 0.87);
  --main-bg-color: #1a1a1a;
  --child-bg-color: #3f4250;

  color: var(--text-color);
  background-color: var(--main-bg-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

div {
  //border: 1px solid red;
}

* {
  //border: 1px solid red;
}

.App {
  display: flex;
  height: 100vh;
}

.sidepane{
  min-width: 220px;
  margin: 18px 0 14px 0;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
}
.sidepane > * {
  margin-bottom: 0.7rem;
}

.chatpane {
  width: 100%;
  margin: 18px 14px 14px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--child-bg-color);
}









button {
  border-radius: 4px;
  border: 1px solid transparent;
  /*TO-DO change to var*/
  background-color: cornflowerblue;
}