@import '_variables.scss';

* {
  margin: 0;
  padding: 0;
}

:root {
  color: $text-color;
  background-color: $main-bg-color;
  font-family: $font-family;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  display: flex;
  height: 100vh;
}

.sidepane{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 220px;
  margin: 18px 0 14px 0;
  padding: 0 20px 20px 20px;
  border-radius: $border-radius;
}

.top-sidepane > * {
  margin-bottom: 16px;
}

.history-item {
  display: flex;
  align-items: center;
  color: rgb(133, 133, 133);
  margin-bottom: 6px;
  font-size: 14px;
}

.pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 20px 0 20px 20px;
  border-radius: 0;
  background-color: $child-bg-color;
}

.app-type-selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.app-type-selector h4 {
  position: absolute;
}

.app-selector-middle {
  margin-left: auto;
  margin-right: auto;
}

.chat-content {
  flex: 1;
  overflow-y: auto;
}

.chat-pane-bottom {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.message-list {
  margin-top: 10px;
  padding-left: 10px;
}

.message-container {
  display: flex;
  background-color: $accent-color;
  border-radius: $border-radius;
  align-items: center;
  margin-bottom: 10px; 
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.msg-avatar-container{
  flex-shrink: 0;
  align-self: flex-start;
  margin: 6px 0 6px 4px;
}

.message {
  padding: 10px;
}

.text-input, .text-input textarea {
  background-color: $accent-color;
}

.chat-pane-selectors {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

select {
  border-radius: $border-radius;
  padding: 4px;
  border: none;
  background-color: $accent-color;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.15s;
  font-size: 17px;
}

a:hover {
  color: $hover-color;
}

.return-button {
  background-color: transparent;
  color: $text-color;
  width: auto;
  border: none;
  margin: 0;
  padding: 8px 8px 8px 0px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: cornflowerblue;
    cursor: pointer; 
  }
}

.chat-settings {
  padding: 10px 0 10px 0;
}

.image-settings {
  padding: 10px 0 10px 0;
}

.chat-settings__text-input {
  width: 240px;
  height: 10px;
}

.settings_title_text {
  margin-top: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

div {
  /*
  border: 1px solid red;
  */
}

* {
  /*
  border: 1px solid red;
  */
}