@import '_variables.scss';

:root {
  color: $text-color;
  background-color: $main-bg-color;
  font-family: $font-family;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
}

// Sidebar
.sidepane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 220px;
  max-width: 220px;
  margin: 18px 0 14px 0;
  padding: 0 20px 20px 20px;
  border-radius: $border-radius;
}

.top-sidepane > * {
  margin-bottom: 16px;
}

.history-item {
  display: flex;
  align-items: center;
  color: rgb(133, 133, 133);
  margin-bottom: 6px;
}

.history-item a {
  text-decoration: none;
  margin-left: 8px;
  font-size: 17px;
}

// Main Pane
.pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 20px 0 20px 20px;
  border-radius: 0;
  background-color: $child-bg-color;
}

.app-type-selector {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.app-type-selector h4 {
  position: absolute;
}

.app-selector-middle {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.chat-content {
  flex: 1;
  overflow-y: auto;
}

.chat-pane-bottom {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.message-container {
  display: flex;
  background-color: $accent-color;
  border-radius: $border-radius;
  align-items: center;
  margin-bottom: 10px; 
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.msg-avatar-container{
  flex-shrink: 0;
  align-self: flex-start;
  margin: 6px 0 6px 4px;
}

.message {
  padding: 4px;
  padding-left: 10px;
  overflow: hidden;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.text-input, .text-input textarea {
  background-color: $accent-color;
}

.chat-pane-selectors {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.code-block {
  background-color: #282933 !important;
  padding: 10px !important;
  margin: 8px 8px 8px 0px !important;
  border-radius: $border-radius !important;

  &::-webkit-scrollbar-thumb {
    background-color: #48495a;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #48495a;
  }
}

// Settings Pane
.chat-settings {
  padding: 10px 0 10px 0;
}

.chat-settings__text-input {
  width: 240px;
  height: 10px;
}

.settings_title_text {
  margin-top: 10px;
}

// Scrollbar Styling
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}